<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%=name%></title>
  <link href="/style/3dphoto.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="box">
    <ul class="minbox">
      <li><img src="/img/<%=name%>/<%=name%>01.jpg" width="100" height="100"></li>
      <li><img src="/img/<%=name%>/<%=name%>02.jpg" width="100" height="100"></li>
      <li><img src="/img/<%=name%>/<%=name%>03.jpg" width="100" height="100"></li>
      <li><img src="/img/<%=name%>/<%=name%>04.jpg" width="100" height="100"></li>
      <li><img src="/img/<%=name%>/<%=name%>05.jpg" width="100" height="100"></li>
      <li><img src="/img/<%=name%>/<%=name%>06.jpg" width="100" height="100"></li>
    </ul>
    <ol class="maxbox">
      <li><img src="/img/<%=name%>/<%=name%>01.jpg" width="400" height="400"></li>
      <li><img src="/img/<%=name%>/<%=name%>02.jpg" width="400" height="400"></li>
      <li><img src="/img/<%=name%>/<%=name%>03.jpg" width="400" height="400"></li>
      <li><img src="/img/<%=name%>/<%=name%>04.jpg" width="400" height="400"></li>
      <li><img src="/img/<%=name%>/<%=name%>05.jpg" width="400" height="400"></li>
      <li><img src="/img/<%=name%>/<%=name%>06.jpg" width="400" height="400"></li>
    </ol>
  </div>
</body>

</html>